.notificationModal{
    position: fixed;
    display: flex;
    align-items: center;
    right: 15px;
    top: 30px;
    border-radius: 15px;
    padding: 10px;
    max-width: 350px;
    z-index: 30;
    background-color: #FFFFFF;
    transform: translateY(-500%);
    -webkit-box-shadow: -1px 9px 9px 4px rgba(0,0,0,0.66);
    box-shadow: -1px 9px 9px 4px rgba(0,0,0,0.66);
    transition: 600ms;
}

.notificationModal.active{
    transition: 600ms;
    transform: translateY(0%);
}

.notificationModal_image{
    position: relative;
    width: 50px;
    height: 50px;
}

.before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    padding-left: 5px;
}

.notificationModal_image .before img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.notificationModal_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2B2A29;
    padding-left: 15px;
}

@media(max-width: 500px){
    .notificationModal_text{
        font-size: 12px;
        line-height: 15px;
    }

    .notificationModal_image{
        width: 30px;
        height: 30px;
    }
}