.banner{
    position: relative;
    display: flex;
    align-items: center;
}

.banner_image_img{
    position: absolute;
    display: block;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.banner_content{
    position: relative;
    z-index: 0;
    padding: 150px 0;
}

.banner_mini_title{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #27AE60;
}

.banner_title{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #2B2A29;
    margin-top: 10px;
}

.banner_text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
}

.banner_image_left,
.banner_image_right{
    position: absolute;
    display: block;
}

.banner_image_right{
    right: 0;
    bottom: -300px;
}

.banner_image_left{
    left: 0;
    bottom: -400px;
}

.banner_btn{
    display: block;
    margin-top: 20px;
    padding: 12px;
    max-width: 255px;
    background-color: #27AE60;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.CardTypeOne{
    display: flex;
    align-items: center;
    background-color: #F8F4F3;
    max-width: 540px;
    margin-left: 5px;
}

.CardTypeOne_image{
    max-width: 350px;
    max-height: 280px;
    position: relative;
}

.CardTypeOne_image_desc{
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 5px 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FF1818;
    border-radius: 15px;
}

.CardTypeOne_image_img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
}

.CardTypeOne_content{
    padding-left: 16px;
    max-width: 160px;
}

.CardTypeOne_title{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    color: #2B2A29;
}

.CardTypeOne_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
    margin-top: 15px;
}

.CardTypeOne_text_price{
    margin-top: 9px;
    display: flex;
    align-items: flex-end;
}

.CardTypeOne_text_price_old{
    margin-right: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #2B2A29;
}

.CardTypeOne_text_price_new{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    color: #27AE60;
}

.CardTypeTwo{
    display: block;
    background-color: #fff;
    border-radius: 10px;
}

.CardTypeTwo_images{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.CardTypeTwo_images_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CardTypeTwo_content{
    padding: 15px;
}

.CardTypeTwo_content_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
}

.CardTypeTwo_content_status{
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #27AE60;
}

.CardTypeTwo_content_btns{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 15px;
}

.CardTypeTwo_content_btn{
    display: block;
    background-color: inherit;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
    cursor: pointer;
    transition: 300ms;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
}

.CardTypeTwo_content_btn:hover{
    transition: 300ms;
    color: #27AE60;
}

.CardTypeTwo_content_btn.active{
    color: #27AE60;
}

.CardTypeTwo_content_addBasket{
    margin-top: 21px;
    border: none;
    background-color: #27AE60;
    border-radius: 22px;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}
.CardTypeTwo_images_status{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 4px 7px;
    border-radius: 12px;
    background-color: #27AE60;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.CardTypeTwo_images_like{
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.CardTypeTwo_images_like_img{
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.block_location button .before {
    display: flex;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    right: 0;
    top: 0;
}

.CardTypeThree{
    display: block;
    max-width: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 5px;
}

.CardTypeThree_image{
    max-width: 350px;
    max-height: 210px;
}

.CardTypeThree_image_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CardTypeThree_content{
    padding: 15px;
}

.CardTypeThree_content_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2B2A29;
}

.CardTypeThree_info{
    display: flex;
}

.CardTypeThree_info_text{
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
}

.CardTypeThree_info_text + .CardTypeThree_info_text{
    margin-left: 15px;
}

.CardTypeThree_info_text .before {
    position: absolute;
    left: 0;
    top: -4px;
}

.section_cards_recipe{
    position: relative;
}

.about_company_image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.about_company_image_img{
    border-radius: 10px;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about_company_text_block + .about_company_text_block{
    margin-top: 30px;
}

.about_company_title{
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #27AE60;
}

.about_company_text{
    display: block;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
}

.about_company_text span{
    display: block;
    margin-top: 10px;
}

.card{
    padding: 25px;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
}

.card_image{
    width: 40px;
    height: 40px;
}

.card_image_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #2B2A29;
}

.card_text{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
}

.reviewscard{
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 540px;
    margin-left: 5px;
}

.reviewscard_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewscard_head_info{
    display: flex;
    align-items: center;
}

.reviewscard_head_ava{
    margin-right: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.reviewscard_head_ava_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.reviewscard_head_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviewscard_head_name{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #2B2A29;
}

.reviewscard_head_status{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #808080;
}

.reviewscard_content{
    margin-top: 26px;
}

.reviewscard_content_message{
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
    background-color: #F7F7F7;
    border-radius: 10px;
}

.reviewscard_content_date{
    margin-top: 15px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #808080;
}

.reviewscard_head_stars_adaptive{
    display: none;
}

.reviewscard_head_stars_adaptive_rattingLevel{
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFC107;
}

.reviewscard_head_stars_adaptive_rattingLevel .star{
    margin-right: 7px;
}

.card_find_modal{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    min-width: 300px;
    align-items: center;
}

.card_find_modal:nth-child(even){
    margin-left: 15px;
}

.card_find_modal:nth-child(3),
.card_find_modal:nth-child(4){
    margin-top: 15px;
}
.card_find_modal_image{
    display: block;
    width: 92px;
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
}

.card_find_modal_image img{
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_find_modal_content_title{
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A29;
}

.card_find_modal_content_have{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #27AE60;
    margin-top: 5px;
}

.card_find_modal_content_price{
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
    margin-top: 10px;
}

.sidebar{
    padding: 17px 15px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.sidebar_filters_title{
    display: block;
    border: none;
    background-color: inherit;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
    padding: 0 26px 0 0;
    position: relative;
}

.sidebar_filters_block + .sidebar_filters_block{
    margin-top: 21px;
}

.sidebar_filters_title .before{
    display: flex;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    right: 0;
    top: 0;
}

.sidebar_filters_checkbox{
    margin-top: 18px;
}

.sidebar_stepBefore{
    display: none;
    position: relative;
    border: none;
    background-color: inherit;
    margin-bottom: 25px;
    padding-left: 35px;
    align-items: center;
    cursor: pointer;
}

.sidebar_stepBefore .before{
    display: block;
    position: absolute;
    top: 46%;
    left: 0;
    transform: translateY(-50%) rotate(-180deg);
    width: 24px;
    height: 24px;
}

.sidebar_stepBefore .before img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar_stepBefore_btn{
    display: block;
    border: none;
    background-color: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2B2A29;
}

.sidebar_sendChanges{
    display: none;
    border: none;
    background-color: #27AE60;
    width: 100%;
    padding: 12px 0;
    margin-top: 43px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 22px;
    cursor: pointer;
    transition: 300ms;
}

.sidebar_sendChanges:hover{
    background-color: inherit;
    border: 1px solid #27AE60;
    transition: 300ms;
    color: #27AE60;
}

.checkbox_block{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.checkbox_block + .checkbox_block{
    margin-top: 13px;
}

.checkbox_falseInput{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #F7F7F7;
    position: relative;
}

.checkbox_falseInput .before{
    display: flex;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox_title{
    margin-left: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
}

.sidebar_filters_fromto{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.sidebar_filters_inputs{
    max-width: 100px;
}

.sidebar_filters_input{
    width: 100%;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #F7F7F7;
    padding: 11px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
    outline: none !important;
}

.sidebar_filters_inputs_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B2A29;
}

.sidebar_filters_line{
    width: 15px;
    height: 1px;
    background-color: #E6E6E6;
    margin-top: 10%;
}

@media(max-width: 992px){
    .about_company_text_block{
        margin-top: 30px;
    }

    .reviewscard_head_ratting{
        display: none;
    }

    .reviewscard_head_stars_adaptive{
        display: block;
    }

    .card_find_modal:nth-child(even){
        margin-left: 0;
    }

    .card_find_modal{
        min-width: auto;
        width: 100%;
    }

    .card_find_modal + .card_find_modal{
        margin-top: 15px;
    }

    .banner_image_left,
    .banner_image_right{
        position: absolute;
        display: none;
    }

    .banner_content{
        max-width: 280px;
    }

    .banner_title{
        font-size: 35px;
        line-height: 40px;
    }

    .CardTypeOne_image_desc{
        top: 10px;
        left: 10px;
        font-size:12px;
        padding: 3px 5px;
    }

    .CardTypeOne_title{
        font-size: 22px;
        line-height: 24px;
    }

    .CardTypeOne_text{
        margin-top: 5px;

    }

    .CardTypeOne_text_price{
        margin-top: 0;
    }

    .CardTypeOne_text_price_old{
        font-size: 16px;
    }

    .CardTypeOne_text_price_new{
        font-size: 20px;
        line-height: 28px;
    }

    .sidebar_stepBefore{
        display: flex;
    }

    .sidebar_sendChanges{
        display: block;
    }
}

@media(max-width: 767px){
    .CardTypeOne{
        display: block;
    }

    .CardTypeOne_content{
        display: block;
        margin-top: 10px;
        padding-left: 0;
        max-width: 100%;
        margin-right: 0;
    }

    .CardTypeThree_content_title,
    .CardTypeThree_info_text{
        font-size: 14px;
    }

    .CardTypeThree{
        margin-left: 0;
    }

    .CardTypeTwo{
        margin: 0;
    }

    .CardTypeTwo_images_status{
        font-size: 12px;
    }

    .CardTypeTwo_content_title{
        font-size: 14px;
    }

    .CardTypeTwo_content_status{
        font-size: 12px;
    }

    .CardTypeTwo_content_btn{
        font-size: 14px;
    }

    .CardTypeTwo_content_addBasket{
        font-size: 12px;
        padding: 12px 10px;
    }
}
